<footer class="footer">
  <div class="container">
    <p class="text-muted"><a href="http://www.nervousnet.ethz.ch/hackathon/" target="_blank">NervousNet Hackathon</a> - Spring 2016</p>
  </div>
</footer>
