<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="NervousNet Hackathon 2016 - Privacy/Accuracy Challenge">
  <meta name="author" content="pablovem">

  <title>NervousNet Hackathon 2016</title>

  <!-- Icons -->
  <link rel="shortcut icon" href="/img/NervousNetIcon.png" />
  <link rel="icon" href="/img/NervousNetIcon-150x150.png" sizes="32x32" />
  <link rel="icon" href="/img/NervousNetIcon-300x272.png" sizes="192x192" />

  <!-- Styles -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    {{{body}}}

    <!-- Scripts -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
