// Variables
$nn-orange: #f15f18;
$nn-gray-l: #ddd;
$nn-gray-m: #bbb;
$nn-gray-d: #333;
$nn-font-family: Montserrat, sans-serif;

body {
  background-color: #eee;
}

.btn-nn {
  background: linear-gradient(to bottom, #3a404d, #181c26);
  color: #ddd;
  text-align: center;
}

// Navbar
.navbar {
  background-color: $nn-orange;

  .navbar-header {
    .navbar-brand{
      color: $nn-gray-l;
      &:hover {
        color: $nn-gray-m;
      }
    }
  }

  .navbar-nav {
    li{
      a{
        color: $nn-gray-l;
        &:hover {
          color: $nn-gray-m;
        }
      }

    }

    .dropdown {
      a {
        color: $nn-gray-d;
      }
    }

  }
}

// Leaderboard
.leaderboard {
  font-family: 'Open Sans', sans-serif;

  .panel-leaderboard {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
    .panel-heading{
      background: linear-gradient(to bottom, #3a404d, #181c26);
      color: #ddd;
      text-align: center;
    }
    .panel-body {
      box-sizing: border-box;
      padding: 0;

      ol {
        margin:0;
        box-sizing: border-box;
        counter-reset: leaderboard;

        position: relative;
        left: -15%;
        width: 115%;

        li {
          list-style: none;
          position: relative;
          z-index: 1;
          font-size: 14px;
          padding: 18px 10px 18px 50px;
          counter-increment: leaderboard;
          cursor: pointer;
          backface-visibility: hidden;
          transform: translateZ(0) scale(1.0, 1.0);
          box-sizing: border-box;

          /* Ranking position */
          &::before {
            content: counter(leaderboard);
            position: absolute;
            z-index: 2;
            top: 15px;
            left: 15px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            color: #c24448;
            background: #fff;
            border-radius: 20px;
            text-align: center;
            box-sizing: border-box;
          }

          mark {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 18px 10px 18px 50px;
            margin: 0;
            background: none;
            color: #fff;

            &::before, &::after {
              content: '';
              position: absolute;
              z-index: 1;
              bottom: -11px;
              left: -9px;
              border-top: 10px solid #c24448;
              border-left: 10px solid transparent;
              transition: all .1s ease-in-out;
              opacity: 0;
            }

            &::after {
              left: auto;
              right: -9px;
              border-left: none;
              border-right: 10px solid transparent;
            }
          }

          small {
            position: relative;
            z-index: 2;
            display: block;
            text-align: right;
            color: #ddd;
          }

          &::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fa6855;
            box-shadow: 0 3px 0 rgba(0, 0, 0, .08);
            // transform: scaleX(1.06) scaleY(1.03);
            transition: all .3s ease-in-out;
            opacity: 0;
            box-sizing: border-box;
          }

          // 1st Place
          &:nth-child(1) {
            background: #fa6855;
            &::after {
              background: #fa6855;
            }
          }

          // 2nd Place
          &:nth-child(2) {
            background: #e0574f;
            &::after {
              background: #e0574f;
              box-shadow: 0 2px 0 rgba(0, 0, 0, .08);
            }

            & mark {
              &::before, &::after {
                border-top: 6px solid #ba4741;
                bottom: -7px;
              }
            }
          }

          // 3rd Place
          &:nth-child(3) {
            background: #d7514d;
            &::after {
              background: #d7514d;
              box-shadow: 0 1px 0 rgba(0, 0, 0, .11);
            }

            & mark {
              &::before, &::after {
                border-top: 2px solid #b0433f;
                bottom: -3px;
              }
            }
          }

          // 4th Place
          &:nth-child(4) {
            background: #cd4b4b;
            &::after {
              background: #cd4b4b;
              box-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
            }

            & mark {
              &::before, &::after {
                top: -7px;
                bottom: auto;
                border-top: none;
                border-bottom: 6px solid #a63d3d;;
              }
            }
          }

          // 5th Place
          &:nth-child(5) {
            background: #c24448;
            border-radius: 0 0 10px 10px;
            &::after {
              background: #c24448;
              box-shadow: 0 -2.5px 0 rgba(0, 0, 0, .12);
              border-radius: 0 0 10px 10px;
            }

            & mark {
              &::before, &::after {
                top: -9px;
                bottom: auto;
                border-top: none;
                border-bottom: 8px solid #993639;
              }
            }
          }

        }

        // hover
        li:hover {
          z-index: 2;
          overflow: visible;

          &::after {
            opacity: 1;
            transform: scaleX(1.06) scaleY(1.03);
          }

          & mark {
            &::before, &::after {
              opacity: 1;
              transition: all .35s ease-in-out;
            }
          }
        }

      }
    }
  }
}


// Footer
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $nn-gray-l;

  p {
    margin: 20px auto;
    text-align: center;
  }

}
