{{> navbar }}

<div id="particles-js">

  <div class="error-container">
    <h1>{{error}}</h1>
  </div>

</div>

<script>
  particlesJS.load('particles-js', '/particles.json', function() {});
</script>
