{{#if user}}
  {{> navbar }}

  <div class="container">
    <div class="page-header">
      <h1>Welcome <small>{{user.username}}</small></h1>
    </div>
  </div>

  {{> footer }}
{{else}}
  {{> navbar }}
  <div id="particles-js">

    <div class="login-container">
      <h1>Login</h1>
      <p class="lead">Welcome to the Challenge!</p><br/>
      <form role="form" action="/api/login" method="post">
        <div class="form-group">
          <input type="text" name="username" placeholder="Enter Username" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Enter Password" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>&nbsp;
        <a href="/" type="button" class="btn btn-default">Cancel</a>
      </form>
    </div>

  </div>

  <script>
    particlesJS.load('particles-js', '/particles.json', function() {
      //console.log('callback - particles.js config loaded');
    });
  </script>

  {{> footer }}
{{/if}}
