{{> navbar }}

<div class="container">

  <!-- <h1>Leaderboard</h1> -->

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <!-- Entropy -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-leaderboard">
            <div class="panel-heading">Entropy</div>
            <div class="panel-body">
              <ol class="entropy"></ol>
            </div>
          </div>
        </div>
        <!--/ Entropy -->

        <!-- Diversity -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-leaderboard">
            <div class="panel-heading">Diversity</div>
            <div class="panel-body">
              <ol class="diversity"></ol>
            </div>
          </div>
        </div>
        <!--/ Diversity -->

        <!-- Avg Local Error -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-leaderboard">
            <div class="panel-heading">Avg Local Error</div>
            <div class="panel-body">
              <ol class="localerror"></ol>
            </div>
          </div>
        </div>
        <!--/ Avg Local Error -->

        <!-- Global Error -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-leaderboard">
            <div class="panel-heading">Global Error</div>
            <div class="panel-body">
              <ol class="globalerror"></ol>
            </div>
          </div>
        </div>
        <!--/ Global Error -->

      </div>
    </div>
  </div>
</div>

<script>
function poll(){

  $.ajax({
    url: "/api/rank/entropy",
    success: function(data){
      //console.log(data);
      $(".entropy").empty();
      for (var i = 0; i<data.length; i++) {
        $(".entropy").append("<li><mark>" + data[i].username + "</mark><small>" + data[i].meta.entropy.toFixed(2) + "</small></li>");
      }
    },
    dataType: "json"
  });

  $.ajax({
    url: "/api/rank/diversity",
    success: function(data){
      //console.log(data);
      $(".diversity").empty();
      for (var i = 0; i<data.length; i++) {
        $(".diversity").append("<li><mark>" + data[i].username + "</mark><small>" + data[i].meta.diversity.toFixed(2) + "</small></li>");
      }
    },
    dataType: "json"
  });

  $.ajax({
    url: "/api/rank/localerror",
    success: function(data){
      //console.log(data);
      $(".localerror").empty();
      for (var i = 0; i<data.length; i++) {
        $(".localerror").append("<li><mark>" + data[i].username + "</mark><small>" + data[i].meta.localError.toFixed(2) + "</small></li>");
      }
    },
    dataType: "json"
  });

  $.ajax({
    url: "/api/rank/globalerror",
    success: function(data){
      //console.log(data);
      $(".globalerror").empty();
      for (var i = 0; i<data.length; i++) {
        $(".globalerror").append("<li><mark>" + data[i].username + "</mark><small>" + data[i].meta.globalError.toFixed(2) + "</small></li>");
      }
    },
    dataType: "json"
  });
}
// Initial call
poll();
// Polling
setInterval(poll, 4000);
</script>

{{> footer }}
