{{> navbar }}

<div class="container">

  <!-- <h1>Leaderboard</h1> -->

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <!-- Entropy -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-leaderboard">
            <div class="panel-heading">Entropy</div>
            <div class="panel-body">
              <ol class="entropy"></ol>
            </div>
          </div>
        </div>
        <!--/ Entropy -->

        <!-- Diversity -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-leaderboard">
            <div class="panel-heading">Diversity</div>
            <div class="panel-body">
              <ol class="diversity"></ol>
            </div>
          </div>
        </div>
        <!--/ Diversity -->

        <!-- Avg Local Error -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-leaderboard">
            <div class="panel-heading">Avg Local Error</div>
            <div class="panel-body">
              <ol class="localerror"></ol>
            </div>
          </div>
        </div>
        <!--/ Avg Local Error -->

        <!-- Global Error -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-leaderboard">
            <div class="panel-heading">Global Error</div>
            <div class="panel-body">
              <ol class="globalerror"></ol>
            </div>
          </div>
        </div>
        <!--/ Global Error -->

      </div>
    </div>
  </div>
</div>

<script>
function poll(){
  $.ajax({
    url: "/api/rank/",
    success: function(data){
      //console.log(data);
      $(".entropy").empty();
      for (var i = 0; i<data.entropy.length; i++) {
        $(".entropy").append("<li><mark>" + data.entropy[i].team + "</mark><small>" + data.entropy[i].entropy + "</small></li>");
      }
      $(".diversity").empty();
      for (var i = 0; i<data.diversity.length; i++) {
        $(".diversity").append("<li><mark>" + data.diversity[i].team + "</mark><small>" + data.diversity[i].diversity + "</small></li>");
      }
      $(".localerror").empty();
      for (var i = 0; i<data.localerror.length; i++) {
        $(".localerror").append("<li><mark>" + data.localerror[i].team + "</mark><small>" + data.localerror[i].localError + "</small></li>");
      }
      $(".globalerror").empty();
      for (var i = 0; i<data.globalerror.length; i++) {
        $(".globalerror").append("<li><mark>" + data.globalerror[i].team + "</mark><small>" + data.globalerror[i].globalError + "</small></li>");
      }

    },
    dataType: "json"
  });
}
// Initial call
poll();
// Polling
setInterval(poll, 3000);
</script>

{{> footer }}
