{{> navbar }}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <!-- Entropy -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-default">
            <div class="panel-heading">Entropy</div>
            <table class="table">
              <tr>
                <td>Team 1</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Team 2</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Team 3</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Team 4</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Team 5</td>
                <td>5</td>
              </tr>
            </table>
          </div>
        </div>
        <!--/ Entropy -->

        <!-- Diversity -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-default">
            <div class="panel-heading">Diversity</div>
            <table class="table">
              <tr>
                <td>Team 1</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Team 2</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Team 3</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Team 4</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Team 5</td>
                <td>5</td>
              </tr>
            </table>
          </div>
        </div>
        <!--/ Diversity -->

        <!-- Avg Local Error -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-default">
            <div class="panel-heading">Avg Local Error</div>
            <table class="table">
              <tr>
                <td>Team 1</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Team 2</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Team 3</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Team 4</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Team 5</td>
                <td>5</td>
              </tr>
            </table>
          </div>
        </div>
        <!--/ Avg Local Error -->

        <!-- Global Error -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-default">
            <div class="panel-heading">Global Error</div>
            <table class="table">
              <tr>
                <td>Team 1</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Team 2</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Team 3</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Team 4</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Team 5</td>
                <td>5</td>
              </tr>
            </table>
          </div>
        </div>
        <!--/ Global Error -->

      </div>
    </div>
  </div>
</div>


{{> footer }}
