{{> navbar }}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <!-- Entropy -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-leaderboard">
            <div class="panel-heading">Entropy</div>
            <div class="panel-body">
              <ol>
                <li>
                  <mark>TeamName1</mark>
                  <small>1</small>
                </li>
                <li>
                  <mark>TeamName2</mark>
                  <small>2</small>
                </li>
                <li>
                  <mark>TeamName3</mark>
                  <small>3</small>
                </li>
                <li>
                  <mark>TeamName4</mark>
                  <small>4</small>
                </li>
                <li>
                  <mark>TeamName5</mark>
                  <small>5</small>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <!--/ Entropy -->

        <!-- Diversity -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-leaderboard">
            <div class="panel-heading">Diversity</div>
            <div class="panel-body">
              <ol>
                <li>
                  <mark>TeamName1</mark>
                  <small>1</small>
                </li>
                <li>
                  <mark>TeamName2</mark>
                  <small>2</small>
                </li>
                <li>
                  <mark>TeamName3</mark>
                  <small>3</small>
                </li>
                <li>
                  <mark>TeamName4</mark>
                  <small>4</small>
                </li>
                <li>
                  <mark>TeamName5</mark>
                  <small>5</small>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <!--/ Diversity -->

        <!-- Avg Local Error -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-leaderboard">
            <div class="panel-heading">Avg Local Error</div>
            <div class="panel-body">
              <ol>
                <li>
                  <mark>TeamName1</mark>
                  <small>1</small>
                </li>
                <li>
                  <mark>TeamName2</mark>
                  <small>2</small>
                </li>
                <li>
                  <mark>TeamName3</mark>
                  <small>3</small>
                </li>
                <li>
                  <mark>TeamName4</mark>
                  <small>4</small>
                </li>
                <li>
                  <mark>TeamName5</mark>
                  <small>5</small>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <!--/ Avg Local Error -->

        <!-- Global Error -->
        <div class="col-md-3 leaderboard">
          <div class="panel panel-leaderboard">
            <div class="panel-heading">Global Error</div>
            <div class="panel-body">
              <ol>
                <li>
                  <mark>TeamName1</mark>
                  <small>1</small>
                </li>
                <li>
                  <mark>TeamName2</mark>
                  <small>2</small>
                </li>
                <li>
                  <mark>TeamName3</mark>
                  <small>3</small>
                </li>
                <li>
                  <mark>TeamName4</mark>
                  <small>4</small>
                </li>
                <li>
                  <mark>TeamName5</mark>
                  <small>5</small>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <!--/ Global Error -->

      </div>
    </div>
  </div>
</div>


{{> footer }}
