{{> navbar }}

<div class="container">
  <div class="page-header">
    <h1>{{user.username}}</h1>
    <p>{{user.email}}</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">Submissions</div>
          <div class="panel-body">
            <p>Your team has submitted {{user.meta.submissions}} times.</p>
          </div>
          <table class="table submissions"></table>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
function poll(){
  $.ajax({
    url: "/api/submissions",
    success: function(data){
      //console.log(data);
      $(".submissions").empty();

      $(".submissions").append(
        "<tr>" +
        "<th>Submission</th>" +
        "<th>Submitted</th>" +
        "<th>State</th>" +
        "<th>Entropy</th>" +
        "<th>Diversity</th>" +
        "<th>Avg Local Error</th>" +
        "<th>Global Error</th>" +
        "<th>Details</th>" +
        "</tr>");

      for (var i = 0; i<data.length; i++) {

        var subDetails = "";
        if(data[i].state === "Analysed") {
          subDetails = '<a href="/details/' + data[i].id + '">View</a>';
        }

        $(".submissions").append(
          "<tr>" +
          "<td>" + data[i].id + "</td>" +
          "<td>" + "<time class='timeago' datetime='" + data[i].submitted_at + "'>" + data[i].submitted_at + "</time>" + "</td>" +
          "<td>" + data[i].state + "</td>" +
          "<td>" + data[i].entropy + "</td>" +
          "<td>" + data[i].diversity + "</td>" +
          "<td>" + data[i].localError + "</td>" +
          "<td>" + data[i].globalError + "</td>" +
          "<td>" + subDetails + "</td>" +
          "</tr>"
        );
      }

      $("time.timeago").timeago();
    },
    dataType: "json"
  });
}
// Initial call
poll();
// Polling
setInterval(poll, 2500);
</script>

{{> footer }}
