{{> navbar }}

<div class="container">
  <div class="page-header">
    <h1>Resources</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary panel-resources">
          <div class="panel-heading">Privacy / Accuracy Challenge</div>
          <div class="panel-body">
            <p>Come up with your own data summarization algorithm that guarantees the highest privacy protection level and at the same time performs accurate data analytics.</p>
            <p>For instructions, tutorials, utilities and other supporting material related to the nervousnet Privacy Challenge, please visit the Nervousnet Hackathon Challenge at github.</p>
            <p><a type="button" class="btn btn-xl btn-primary" href="https://github.com/epournaras/Nervousnet-Hackathon-Challenge" target="_blank">View on GitHub</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{{> footer }}
